$color-prim-light: #39ccaf;
$color-prim-medium: #11b1aa;
$color-prim-dark: #08969e;

$color-warning: #ff7730;

$color-black: #000;
$color-gray: #777;
$color-white: #fff;

$color-dark1: #1b1b1b;

$grid-width: 114rem;
$grid-margin-vertical: 8rem;
$grid-margin-horizontal: 6rem;
